<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>halihax</title>

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta property="og:image" content="/img/fb-logo.png">
  <meta property="og:title" content="Halihax is a brand new meetup for the awesome developer community in Halifax."/>
  <meta property="og:site_name" content="Halihax"/>

  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

  <script type="text/javascript" src="//use.typekit.net/oam6ctu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <header>
    <div id="logo">
      <span class="mark"></span><h1>halihax</h1>
    </div>
    <div class="map">
      <iframe width="100%" height="100%" frameBorder='0' src='https://a.tiles.mapbox.com/v3/ntassone.gkehc9f1/mm/index.html?secure=1#13/44.6499/-63.5884'></iframe>
    </div>
    <span class="border"></span>
  </header>
  <div class="container">
    <h2>Hali<strong>h</strong>ax is a brand new meetup for the awesome developer community in Hali<strong>f</strong>ax. </h2>
    <section id="date" class="double">
      <div>
        <div>
          <h3><span>March</span> 25<sup>th</sup> 2014</h3>
          <p>The first one ever. Join us for two talks and discussion, food and drinks provided. Hosted at <a href="http://voltaeffect.com/" target="_blank">Volta Labs</a></p>
        </div>
      </div>
      <div>
        <div>
          <a class="btn" href="https://www.eventbrite.ca/e/halihax-inaugural-meetup-tickets-10759504969">RSVP &rarr;</a>
        </div>
      </div>
    </section>
    <section id="speakers" class="double">
      <h1>Speakers</h1>
      <div id="matt-creager">
        <aside>
          <span class="avatar"></span>
        </aside>
        <article>
          <h2>Matt Creager</h2>
          <h5><a href="http://twitter.com/matt_creager" target="_blank">@matt_creager</a></h5>
          <p>Angular.js</p>
        </article>
      </div>
      <div id="sandy-walsh">
        <aside>
          <span class="avatar"></span>
        </aside>
        <article>
          <h2>Sandy Walsh</h2>
          <h5><a href="http://twitter.com/TheSandyWalsh" target="_blank">@TheSandyWalsh</a></h5>
          <p>Concurent Programming on Arduino</p>
        </article>
      </div>
    </section>
      <nav class="social">
        <ul>
          <li><a href="http://twitter.com/hali_ax" target="_blank"><span class="icon-twitter3"></span></a></li>
          <li><a href="http://github.com/halihax" target="_blank"><span class="icon-github3"></span></a></li>
          <li><a href="mailto:contact@halihax.com" target="_blank"><span class="icon-mail"></span></a></li>
        </ul>
      </nav>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48429253-1', 'halihax.com');
    ga('send', 'pageview');

  </script>
</body>
</html>