/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-4cnx6j");
  src: url("../fonts/icomoon.eot?#iefix-4cnx6j") format("embedded-opentype"), url("../fonts/icomoon.woff?-4cnx6j") format("woff"), url("../fonts/icomoon.ttf?-4cnx6j") format("truetype"), url("../fonts/icomoon.svg?-4cnx6j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-paint-format:before {
  content: "\e600"; }

.icon-image:before {
  content: "\e601"; }

.icon-image2:before {
  content: "\e602"; }

.icon-images:before {
  content: "\e603"; }

.icon-camera:before {
  content: "\e604"; }

.icon-music:before {
  content: "\e605"; }

.icon-headphones:before {
  content: "\e606"; }

.icon-play:before {
  content: "\e607"; }

.icon-film:before {
  content: "\e608"; }

.icon-camera2:before {
  content: "\e609"; }

.icon-dice:before {
  content: "\e60a"; }

.icon-pacman:before {
  content: "\e60b"; }

.icon-spades:before {
  content: "\e60c"; }

.icon-clubs:before {
  content: "\e60d"; }

.icon-diamonds:before {
  content: "\e60e"; }

.icon-pawn:before {
  content: "\e60f"; }

.icon-bullhorn:before {
  content: "\e610"; }

.icon-connection:before {
  content: "\e611"; }

.icon-podcast:before {
  content: "\e612"; }

.icon-feed:before {
  content: "\e613"; }

.icon-book:before {
  content: "\e614"; }

.icon-books:before {
  content: "\e615"; }

.icon-library:before {
  content: "\e616"; }

.icon-file:before {
  content: "\e617"; }

.icon-profile:before {
  content: "\e618"; }

.icon-file2:before {
  content: "\e619"; }

.icon-file3:before {
  content: "\e61a"; }

.icon-file4:before {
  content: "\e61b"; }

.icon-copy:before {
  content: "\e61c"; }

.icon-copy2:before {
  content: "\e61d"; }

.icon-copy3:before {
  content: "\e61e"; }

.icon-paste:before {
  content: "\e61f"; }

.icon-paste2:before {
  content: "\e620"; }

.icon-paste3:before {
  content: "\e621"; }

.icon-stack:before {
  content: "\e622"; }

.icon-folder:before {
  content: "\e623"; }

.icon-folder-open:before {
  content: "\e624"; }

.icon-tag:before {
  content: "\e625"; }

.icon-tags:before {
  content: "\e626"; }

.icon-barcode:before {
  content: "\e627"; }

.icon-qrcode:before {
  content: "\e628"; }

.icon-ticket:before {
  content: "\e629"; }

.icon-cart:before {
  content: "\e62a"; }

.icon-cart2:before {
  content: "\e62b"; }

.icon-cart3:before {
  content: "\e62c"; }

.icon-coin:before {
  content: "\e62d"; }

.icon-credit:before {
  content: "\e62e"; }

.icon-calculate:before {
  content: "\e62f"; }

.icon-support:before {
  content: "\e630"; }

.icon-phone:before {
  content: "\e631"; }

.icon-phone-hang-up:before {
  content: "\e632"; }

.icon-address-book:before {
  content: "\e633"; }

.icon-notebook:before {
  content: "\e634"; }

.icon-envelope:before {
  content: "\e635"; }

.icon-pushpin:before {
  content: "\e636"; }

.icon-location:before {
  content: "\e637"; }

.icon-location2:before {
  content: "\e638"; }

.icon-compass:before {
  content: "\e639"; }

.icon-map:before {
  content: "\e63a"; }

.icon-map2:before {
  content: "\e63b"; }

.icon-history:before {
  content: "\e63c"; }

.icon-droplet:before {
  content: "\e63d"; }

.icon-blog:before {
  content: "\e63e"; }

.icon-pen:before {
  content: "\e63f"; }

.icon-quill:before {
  content: "\e640"; }

.icon-pencil:before {
  content: "\e641"; }

.icon-pencil2:before {
  content: "\e642"; }

.icon-newspaper:before {
  content: "\e643"; }

.icon-office:before {
  content: "\e644"; }

.icon-home:before {
  content: "\e645"; }

.icon-home2:before {
  content: "\e646"; }

.icon-home3:before {
  content: "\e647"; }

.icon-clock:before {
  content: "\e648"; }

.icon-clock2:before {
  content: "\e649"; }

.icon-alarm:before {
  content: "\e64a"; }

.icon-alarm2:before {
  content: "\e64b"; }

.icon-bell:before {
  content: "\e64c"; }

.icon-stopwatch:before {
  content: "\e64d"; }

.icon-calendar:before {
  content: "\e64e"; }

.icon-calendar2:before {
  content: "\e64f"; }

.icon-print:before {
  content: "\e650"; }

.icon-keyboard:before {
  content: "\e651"; }

.icon-screen:before {
  content: "\e652"; }

.icon-laptop:before {
  content: "\e653"; }

.icon-mobile:before {
  content: "\e654"; }

.icon-mobile2:before {
  content: "\e655"; }

.icon-tablet:before {
  content: "\e656"; }

.icon-tv:before {
  content: "\e657"; }

.icon-cabinet:before {
  content: "\e658"; }

.icon-drawer:before {
  content: "\e659"; }

.icon-drawer2:before {
  content: "\e65a"; }

.icon-drawer3:before {
  content: "\e65b"; }

.icon-box-add:before {
  content: "\e65c"; }

.icon-box-remove:before {
  content: "\e65d"; }

.icon-download:before {
  content: "\e65e"; }

.icon-upload:before {
  content: "\e65f"; }

.icon-disk:before {
  content: "\e660"; }

.icon-storage:before {
  content: "\e661"; }

.icon-undo:before {
  content: "\e662"; }

.icon-redo:before {
  content: "\e663"; }

.icon-flip:before {
  content: "\e664"; }

.icon-flip2:before {
  content: "\e665"; }

.icon-undo2:before {
  content: "\e666"; }

.icon-redo2:before {
  content: "\e667"; }

.icon-forward:before {
  content: "\e668"; }

.icon-reply:before {
  content: "\e669"; }

.icon-bubble:before {
  content: "\e66a"; }

.icon-bubbles:before {
  content: "\e66b"; }

.icon-bubbles2:before {
  content: "\e66c"; }

.icon-bubble2:before {
  content: "\e66d"; }

.icon-bubbles3:before {
  content: "\e66e"; }

.icon-bubbles4:before {
  content: "\e66f"; }

.icon-user:before {
  content: "\e670"; }

.icon-users:before {
  content: "\e671"; }

.icon-user2:before {
  content: "\e672"; }

.icon-users2:before {
  content: "\e673"; }

.icon-user3:before {
  content: "\e674"; }

.icon-user4:before {
  content: "\e675"; }

.icon-quotes-left:before {
  content: "\e676"; }

.icon-busy:before {
  content: "\e677"; }

.icon-spinner:before {
  content: "\e678"; }

.icon-spinner2:before {
  content: "\e679"; }

.icon-spinner3:before {
  content: "\e67a"; }

.icon-spinner4:before {
  content: "\e67b"; }

.icon-spinner5:before {
  content: "\e67c"; }

.icon-spinner6:before {
  content: "\e67d"; }

.icon-binoculars:before {
  content: "\e67e"; }

.icon-search:before {
  content: "\e67f"; }

.icon-zoom-in:before {
  content: "\e680"; }

.icon-zoom-out:before {
  content: "\e681"; }

.icon-expand:before {
  content: "\e682"; }

.icon-contract:before {
  content: "\e683"; }

.icon-expand2:before {
  content: "\e684"; }

.icon-contract2:before {
  content: "\e685"; }

.icon-key:before {
  content: "\e686"; }

.icon-key2:before {
  content: "\e687"; }

.icon-lock:before {
  content: "\e688"; }

.icon-lock2:before {
  content: "\e689"; }

.icon-unlocked:before {
  content: "\e68a"; }

.icon-wrench:before {
  content: "\e68b"; }

.icon-settings:before {
  content: "\e68c"; }

.icon-equalizer:before {
  content: "\e68d"; }

.icon-cog:before {
  content: "\e68e"; }

.icon-cogs:before {
  content: "\e68f"; }

.icon-glass:before {
  content: "\e690"; }

.icon-mug:before {
  content: "\e691"; }

.icon-food:before {
  content: "\e692"; }

.icon-leaf:before {
  content: "\e693"; }

.icon-rocket:before {
  content: "\e694"; }

.icon-meter:before {
  content: "\e695"; }

.icon-meter2:before {
  content: "\e696"; }

.icon-dashboard:before {
  content: "\e697"; }

.icon-hammer:before {
  content: "\e698"; }

.icon-fire:before {
  content: "\e699"; }

.icon-lab:before {
  content: "\e69a"; }

.icon-magnet:before {
  content: "\e69b"; }

.icon-remove:before {
  content: "\e69c"; }

.icon-remove2:before {
  content: "\e69d"; }

.icon-briefcase:before {
  content: "\e69e"; }

.icon-airplane:before {
  content: "\e69f"; }

.icon-truck:before {
  content: "\e6a0"; }

.icon-road:before {
  content: "\e6a1"; }

.icon-accessibility:before {
  content: "\e6a2"; }

.icon-target:before {
  content: "\e6a3"; }

.icon-shield:before {
  content: "\e6a4"; }

.icon-lightning:before {
  content: "\e6a5"; }

.icon-switch:before {
  content: "\e6a6"; }

.icon-power-cord:before {
  content: "\e6a7"; }

.icon-signup:before {
  content: "\e6a8"; }

.icon-list:before {
  content: "\e6a9"; }

.icon-list2:before {
  content: "\e6aa"; }

.icon-numbered-list:before {
  content: "\e6ab"; }

.icon-menu:before {
  content: "\e6ac"; }

.icon-menu2:before {
  content: "\e6ad"; }

.icon-tree:before {
  content: "\e6ae"; }

.icon-cloud:before {
  content: "\e6af"; }

.icon-cloud-download:before {
  content: "\e6b0"; }

.icon-cloud-upload:before {
  content: "\e6b1"; }

.icon-download2:before {
  content: "\e6b2"; }

.icon-upload2:before {
  content: "\e6b3"; }

.icon-download3:before {
  content: "\e6b4"; }

.icon-upload3:before {
  content: "\e6b5"; }

.icon-globe:before {
  content: "\e6b6"; }

.icon-earth:before {
  content: "\e6b7"; }

.icon-link:before {
  content: "\e6b8"; }

.icon-flag:before {
  content: "\e6b9"; }

.icon-attachment:before {
  content: "\e6ba"; }

.icon-eye:before {
  content: "\e6bb"; }

.icon-eye-blocked:before {
  content: "\e6bc"; }

.icon-eye2:before {
  content: "\e6bd"; }

.icon-bookmark:before {
  content: "\e6be"; }

.icon-bookmarks:before {
  content: "\e6bf"; }

.icon-brightness-medium:before {
  content: "\e6c0"; }

.icon-trophy:before {
  content: "\e6c1"; }

.icon-gift:before {
  content: "\e6c2"; }

.icon-bars:before {
  content: "\e6c3"; }

.icon-bars2:before {
  content: "\e6c4"; }

.icon-stats:before {
  content: "\e6c5"; }

.icon-pie:before {
  content: "\e6c6"; }

.icon-bug:before {
  content: "\e6c7"; }

.icon-aid:before {
  content: "\e6c8"; }

.icon-wand:before {
  content: "\e6c9"; }

.icon-hammer2:before {
  content: "\e6ca"; }

.icon-cog2:before {
  content: "\e6cb"; }

.icon-css3:before {
  content: "\e6cc"; }

.icon-chrome:before {
  content: "\e6cd"; }

.icon-firefox:before {
  content: "\e6ce"; }

.icon-IE:before {
  content: "\e6cf"; }

.icon-opera:before {
  content: "\e6d0"; }

.icon-safari:before {
  content: "\e6d1"; }

.icon-html5:before {
  content: "\e6d2"; }

.icon-html52:before {
  content: "\e6d3"; }

.icon-file-css:before {
  content: "\e6d4"; }

.icon-file-xml:before {
  content: "\e6d5"; }

.icon-file-powerpoint:before {
  content: "\e6d6"; }

.icon-file-excel:before {
  content: "\e6d7"; }

.icon-file-word:before {
  content: "\e6d8"; }

.icon-file-openoffice:before {
  content: "\e6d9"; }

.icon-file-pdf:before {
  content: "\e6da"; }

.icon-libreoffice:before {
  content: "\e6db"; }

.icon-yelp:before {
  content: "\e6dc"; }

.icon-paypal:before {
  content: "\e6dd"; }

.icon-paypal2:before {
  content: "\e6de"; }

.icon-paypal3:before {
  content: "\e6df"; }

.icon-foursquare:before {
  content: "\e6e0"; }

.icon-foursquare2:before {
  content: "\e6e1"; }

.icon-xing:before {
  content: "\e6e2"; }

.icon-xing2:before {
  content: "\e6e3"; }

.icon-pinterest:before {
  content: "\e6e4"; }

.icon-pinterest2:before {
  content: "\e6e5"; }

.icon-stackoverflow:before {
  content: "\e6e6"; }

.icon-stumbleupon:before {
  content: "\e6e7"; }

.icon-stumbleupon2:before {
  content: "\e6e8"; }

.icon-delicious:before {
  content: "\e6e9"; }

.icon-lastfm:before {
  content: "\e6ea"; }

.icon-lastfm2:before {
  content: "\e6eb"; }

.icon-linkedin:before {
  content: "\e6ec"; }

.icon-skype:before {
  content: "\e6ed"; }

.icon-soundcloud:before {
  content: "\e6ee"; }

.icon-soundcloud2:before {
  content: "\e6ef"; }

.icon-windows8:before {
  content: "\e6f0"; }

.icon-windows:before {
  content: "\e6f1"; }

.icon-android:before {
  content: "\e6f2"; }

.icon-finder:before {
  content: "\e6f3"; }

.icon-apple:before {
  content: "\e6f4"; }

.icon-tux:before {
  content: "\e6f5"; }

.icon-yahoo:before {
  content: "\e6f6"; }

.icon-tumblr:before {
  content: "\e6f7"; }

.icon-blogger:before {
  content: "\e6f8"; }

.icon-blogger2:before {
  content: "\e6f9"; }

.icon-joomla:before {
  content: "\e6fa"; }

.icon-wordpress:before {
  content: "\e6fb"; }

.icon-wordpress2:before {
  content: "\e6fc"; }

.icon-github:before {
  content: "\e6fd"; }

.icon-IcoMoon:before {
  content: "\e6fe"; }

.icon-file-zip:before {
  content: "\e6ff"; }

.icon-flattr:before {
  content: "\e700"; }

.icon-reddit:before {
  content: "\e701"; }

.icon-tumblr2:before {
  content: "\e702"; }

.icon-github2:before {
  content: "\e703"; }

.icon-github3:before {
  content: "\e704"; }

.icon-github4:before {
  content: "\e705"; }

.icon-github5:before {
  content: "\e706"; }

.icon-steam:before {
  content: "\e707"; }

.icon-steam2:before {
  content: "\e708"; }

.icon-deviantart:before {
  content: "\e709"; }

.icon-deviantart2:before {
  content: "\e70a"; }

.icon-forrst:before {
  content: "\e70b"; }

.icon-forrst2:before {
  content: "\e70c"; }

.icon-dribbble:before {
  content: "\e70d"; }

.icon-dribbble2:before {
  content: "\e70e"; }

.icon-dribbble3:before {
  content: "\e70f"; }

.icon-picassa:before {
  content: "\e710"; }

.icon-picassa2:before {
  content: "\e711"; }

.icon-flickr:before {
  content: "\e712"; }

.icon-flickr2:before {
  content: "\e713"; }

.icon-flickr3:before {
  content: "\e714"; }

.icon-flickr4:before {
  content: "\e715"; }

.icon-lanyrd:before {
  content: "\e716"; }

.icon-vimeo:before {
  content: "\e717"; }

.icon-vimeo2:before {
  content: "\e718"; }

.icon-vimeo3:before {
  content: "\e719"; }

.icon-youtube:before {
  content: "\e71a"; }

.icon-youtube2:before {
  content: "\e71b"; }

.icon-feed2:before {
  content: "\e71c"; }

.icon-feed3:before {
  content: "\e71d"; }

.icon-feed4:before {
  content: "\e71e"; }

.icon-twitter:before {
  content: "\e71f"; }

.icon-twitter2:before {
  content: "\e720"; }

.icon-twitter3:before {
  content: "\e721"; }

.icon-instagram:before {
  content: "\e722"; }

.icon-facebook:before {
  content: "\e723"; }

.icon-facebook2:before {
  content: "\e724"; }

.icon-facebook3:before {
  content: "\e725"; }

.icon-google-drive:before {
  content: "\e726"; }

.icon-google-plus:before {
  content: "\e727"; }

.icon-google-plus2:before {
  content: "\e728"; }

.icon-google-plus3:before {
  content: "\e729"; }

.icon-google-plus4:before {
  content: "\e72a"; }

.icon-google:before {
  content: "\e72b"; }

.icon-mail:before {
  content: "\e72c"; }

.icon-mail2:before {
  content: "\e72d"; }

.icon-mail3:before {
  content: "\e72e"; }

.icon-mail4:before {
  content: "\e72f"; }

.icon-share:before {
  content: "\e730"; }

.icon-console:before {
  content: "\e731"; }

.icon-code:before {
  content: "\e732"; }

.icon-embed:before {
  content: "\e733"; }

.icon-new-tab:before {
  content: "\e734"; }

.icon-indent-decrease:before {
  content: "\e735"; }

.icon-indent-increase:before {
  content: "\e736"; }

.icon-paragraph-justify:before {
  content: "\e737"; }

.icon-paragraph-right:before {
  content: "\e738"; }

.icon-paragraph-center:before {
  content: "\e739"; }

.icon-paragraph-left:before {
  content: "\e73a"; }

.icon-paragraph-justify2:before {
  content: "\e73b"; }

.icon-paragraph-right2:before {
  content: "\e73c"; }

.icon-paragraph-center2:before {
  content: "\e73d"; }

.icon-paragraph-left2:before {
  content: "\e73e"; }

.icon-right-toleft:before {
  content: "\e73f"; }

.icon-left-toright:before {
  content: "\e740"; }

.icon-pilcrow:before {
  content: "\e741"; }

.icon-insert-template:before {
  content: "\e742"; }

.icon-table:before {
  content: "\e743"; }

.icon-table2:before {
  content: "\e744"; }

.icon-sigma:before {
  content: "\e745"; }

.icon-omega:before {
  content: "\e746"; }

.icon-strikethrough:before {
  content: "\e747"; }

.icon-italic:before {
  content: "\e748"; }

.icon-underline:before {
  content: "\e749"; }

.icon-bold:before {
  content: "\e74a"; }

.icon-spam:before {
  content: "\e74b"; }

.icon-close:before {
  content: "\e74c"; }

.icon-checkmark:before {
  content: "\e74d"; }

.icon-checkmark2:before {
  content: "\e74e"; }

.icon-spell-check:before {
  content: "\e74f"; }

.icon-minus:before {
  content: "\e750"; }

.icon-plus:before {
  content: "\e751"; }

.icon-enter:before {
  content: "\e752"; }

.icon-exit:before {
  content: "\e753"; }

.icon-play2:before {
  content: "\e754"; }

.icon-pause:before {
  content: "\e755"; }

.icon-stop:before {
  content: "\e756"; }

.icon-backward:before {
  content: "\e757"; }

.icon-forward2:before {
  content: "\e758"; }

.icon-play3:before {
  content: "\e759"; }

.icon-pause2:before {
  content: "\e75a"; }

.icon-stop2:before {
  content: "\e75b"; }

.icon-backward2:before {
  content: "\e75c"; }

.icon-forward3:before {
  content: "\e75d"; }

.icon-first:before {
  content: "\e75e"; }

.icon-last:before {
  content: "\e75f"; }

.icon-previous:before {
  content: "\e760"; }

.icon-next:before {
  content: "\e761"; }

.icon-eject:before {
  content: "\e762"; }

.icon-volume-high:before {
  content: "\e763"; }

.icon-volume-medium:before {
  content: "\e764"; }

.icon-volume-low:before {
  content: "\e765"; }

.icon-volume-mute:before {
  content: "\e766"; }

.icon-volume-mute2:before {
  content: "\e767"; }

.icon-volume-increase:before {
  content: "\e768"; }

.icon-volume-decrease:before {
  content: "\e769"; }

.icon-loop:before {
  content: "\e76a"; }

.icon-loop2:before {
  content: "\e76b"; }

.icon-loop3:before {
  content: "\e76c"; }

.icon-shuffle:before {
  content: "\e76d"; }

.icon-arrow-up-left:before {
  content: "\e76e"; }

.icon-arrow-up:before {
  content: "\e76f"; }

.icon-arrow-up-right:before {
  content: "\e770"; }

.icon-arrow-right:before {
  content: "\e771"; }

.icon-arrow-down-right:before {
  content: "\e772"; }

.icon-arrow-down:before {
  content: "\e773"; }

.icon-arrow-down-left:before {
  content: "\e774"; }

.icon-arrow-left:before {
  content: "\e775"; }

.icon-arrow-up-left2:before {
  content: "\e776"; }

.icon-arrow-up2:before {
  content: "\e777"; }

.icon-arrow-up-right2:before {
  content: "\e778"; }

.icon-arrow-right2:before {
  content: "\e779"; }

.icon-arrow-down-right2:before {
  content: "\e77a"; }

.icon-arrow-down2:before {
  content: "\e77b"; }

.icon-arrow-down-left2:before {
  content: "\e77c"; }

.icon-arrow-left2:before {
  content: "\e77d"; }

.icon-arrow-up-left3:before {
  content: "\e77e"; }

.icon-arrow-up3:before {
  content: "\e77f"; }

.icon-arrow-up-right3:before {
  content: "\e780"; }

.icon-arrow-right3:before {
  content: "\e781"; }

.icon-arrow-down-right3:before {
  content: "\e782"; }

.icon-arrow-down3:before {
  content: "\e783"; }

.icon-arrow-down-left3:before {
  content: "\e784"; }

.icon-arrow-left3:before {
  content: "\e785"; }

.icon-tab:before {
  content: "\e786"; }

.icon-checkbox-checked:before {
  content: "\e787"; }

.icon-checkbox-unchecked:before {
  content: "\e788"; }

.icon-checkbox-partial:before {
  content: "\e789"; }

.icon-radio-checked:before {
  content: "\e78a"; }

.icon-radio-unchecked:before {
  content: "\e78b"; }

.icon-crop:before {
  content: "\e78c"; }

.icon-scissors:before {
  content: "\e78d"; }

.icon-filter:before {
  content: "\e78e"; }

.icon-filter2:before {
  content: "\e78f"; }

.icon-font:before {
  content: "\e790"; }

.icon-text-height:before {
  content: "\e791"; }

.icon-text-width:before {
  content: "\e792"; }

.icon-checkmark-circle:before {
  content: "\e793"; }

.icon-cancel-circle:before {
  content: "\e794"; }

.icon-blocked:before {
  content: "\e795"; }

.icon-info:before {
  content: "\e796"; }

.icon-info2:before {
  content: "\e797"; }

.icon-question:before {
  content: "\e798"; }

.icon-notification:before {
  content: "\e799"; }

.icon-warning:before {
  content: "\e79a"; }

.icon-point-left:before {
  content: "\e79b"; }

.icon-point-down:before {
  content: "\e79c"; }

.icon-point-right:before {
  content: "\e79d"; }

.icon-point-up:before {
  content: "\e79e"; }

.icon-wondering:before {
  content: "\e79f"; }

.icon-wondering2:before {
  content: "\e7a0"; }

.icon-neutral:before {
  content: "\e7a1"; }

.icon-neutral2:before {
  content: "\e7a2"; }

.icon-confused:before {
  content: "\e7a3"; }

.icon-confused2:before {
  content: "\e7a4"; }

.icon-shocked:before {
  content: "\e7a5"; }

.icon-shocked2:before {
  content: "\e7a6"; }

.icon-evil:before {
  content: "\e7a7"; }

.icon-evil2:before {
  content: "\e7a8"; }

.icon-angry:before {
  content: "\e7a9"; }

.icon-angry2:before {
  content: "\e7aa"; }

.icon-cool:before {
  content: "\e7ab"; }

.icon-cool2:before {
  content: "\e7ac"; }

.icon-grin:before {
  content: "\e7ad"; }

.icon-grin2:before {
  content: "\e7ae"; }

.icon-wink:before {
  content: "\e7af"; }

.icon-wink2:before {
  content: "\e7b0"; }

.icon-sad:before {
  content: "\e7b1"; }

.icon-sad2:before {
  content: "\e7b2"; }

.icon-tongue:before {
  content: "\e7b3"; }

.icon-tongue2:before {
  content: "\e7b4"; }

.icon-smiley:before {
  content: "\e7b5"; }

.icon-smiley2:before {
  content: "\e7b6"; }

.icon-happy:before {
  content: "\e7b7"; }

.icon-happy2:before {
  content: "\e7b8"; }

.icon-thumbs-up:before {
  content: "\e7b9"; }

.icon-thumbs-up2:before {
  content: "\e7ba"; }

.icon-heart-broken:before {
  content: "\e7bb"; }

.icon-heart:before {
  content: "\e7bc"; }

.icon-heart2:before {
  content: "\e7bd"; }

.icon-star:before {
  content: "\e7be"; }

.icon-star2:before {
  content: "\e7bf"; }

.icon-star3:before {
  content: "\e7c0"; }

.icon-contrast:before {
  content: "\e7c1"; }

.icon-brightness-contrast:before {
  content: "\e7c2"; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

* {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "rooney-web", sans-serif;
  background: #030d13; }

h1, h2, h3, h4 {
  font-family: "refrigerator-deluxe", sans-serif;
  font-weight: normal; }

h2 {
  padding: 1em 0;
  font-size: 2em;
  letter-spacing: .025em;
  color: #ddd;
  font-family: "refrigerator-deluxe", sans-serif;
  font-weight: 200; }

h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100; }

p {
  margin: .5em 0;
  line-height: 1.25; }

a {
  color: white;
  -webkit-transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1); }

strong {
  font-weight: 600; }

img {
  max-width: 100%; }

.btn {
  display: inline-block;
  padding: .75em 2.5em;
  line-height: 1;
  border: 0;
  border-radius: 1.3em;
  font-size: 1.5em;
  font-family: "refrigerator-deluxe", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-decoration: none;
  background: rgba(255, 201, 7, 0.8);
  color: #030d13;
  cursor: pointer;
  box-shadow: 0 0 250px 30px rgba(255, 201, 7, 0.3);
  -webkit-transition: background 0.6s ease, box-shadow 2s ease, color 0.25s linear;
  -moz-transition: background 0.6s ease, box-shadow 2s ease, color 0.25s linear;
  transition: background 0.6s ease, box-shadow 2s ease, color 0.25s linear; }
  .btn:hover {
    background: transparent;
    color: #ffc907;
    box-shadow: 0 0 300px 30px rgba(255, 201, 7, 0.8); }

@-webkit-keyframes moveMap {
  0% {
    top: 0; }

  50% {
    top: -150px; }

  100% {
    top: 0; } }

@-moz-keyframes moveMap {
  0% {
    top: 0; }

  50% {
    top: -150px; }

  100% {
    top: 0; } }

@-o-keyframes moveMap {
  0% {
    top: 0; }

  50% {
    top: -150px; }

  100% {
    top: 0; } }

@keyframes moveMap {
  0% {
    top: 0; }

  50% {
    top: -150px; }

  100% {
    top: 0; } }

.map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, #002350));
  background-image: -webkit-linear-gradient(black, #002350);
  background-image: linear-gradient(black, #002350);
  box-shadow: 0 0 2px 0 rgba(0, 35, 80, 0.7); }
  .map iframe {
    opacity: .8;
    z-index: -1;
    background: #002350; }

header {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 85px;
  height: 350px;
  z-index: 100;
  text-align: center;
  overflow: hidden; }
  @media screen and (max-width: 640px) {
    header {
      height: auto;
      position: relative; } }
  header span.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: rgba(255, 201, 7, 0.4); }
  header #logo {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media screen and (max-width: 640px) {
      header #logo {
        top: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); } }
    header #logo h1 {
      display: inline-block;
      padding: 0;
      letter-spacing: .05em;
      font-size: 7em;
      font-weight: 400;
      color: white;
      font-family: "refrigerator-deluxe", sans-serif;
      pointer-events: none; }
      @media screen and (max-width: 640px) {
        header #logo h1 {
          display: none; } }
    header #logo .mark {
      content: "";
      display: inline-block;
      margin-right: 20px;
      width: 113px;
      height: 50px;
      background: url(../img/logo.svg) no-repeat;
      background-size: 100%; }
      @media screen and (max-width: 640px) {
        header #logo .mark {
          margin: 1em 0 1.5em; } }

.container {
  min-height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background: #030d13;
  text-align: center; }
  @media screen and (max-width: 640px) {
    .container {
      padding-top: 0; } }
  .container p {
    color: rgba(255, 201, 7, 0.5); }
    .container p a {
      color: rgba(255, 201, 7, 0.8); }
      .container p a:hover {
        color: #ffc907; }

section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }
  section.double > div {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    height: 200px;
    background: rgba(222, 224, 207, 0.11);
    overflow: hidden; }
    section.double > div:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      section.double > div {
        height: auto;
        width: 100%; } }
    section.double > div p {
      margin: 1em auto;
      max-width: 75%; }
    section.double > div:last-child {
      background: transparent;
      border: 5px solid rgba(222, 224, 207, 0.11); }
    @media screen and (max-width: 500px) {
      section.double > div > div {
        top: auto;
        padding: 1em;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); } }
  section#speakers {
    min-height: 100px;
    margin-top: 2em;
    padding: 2em 1em 1em;
    border: 1px solid rgba(255, 201, 7, 0.2);
    border-radius: 2px; }
    section#speakers h1 {
      font-size: 2em;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: .05em;
      color: rgba(255, 201, 7, 0.4); }
    section#speakers h5 {
      display: inline-block;
      padding: .5em 1em;
      background: rgba(222, 224, 207, 0.11); }

.social {
  margin: 2em 0; }
  .social li {
    display: inline-block;
    margin: .5em; }
  .social a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 23px; }
    .social a:hover {
      color: #ffc907; }
