@import "reset";
@import "icons";
@import "bourbon/bourbon";

@mixin vertical-center {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

//Grid
$gutter: 0em;
@import "neat/neat";

$header-height: 350px;
$header-min: 85px;
$header-max: 325px;
$page-margin: 50px;


//Colors
$navy: #002350;
$navyDark: #030D13;
$yellow: #ffc907;
$tan: #dee0cf;

//Fonts
$font-header: "refrigerator-deluxe", sans-serif;
$font-body: "rooney-web", sans-serif;

#sandy-walsh .avatar  { background-image: url('../img/sandy_walsh.jpg'); }
#matt-creager .avatar { background-image: url('../img/matt_creager.jpg'); }
#phil-renaud .avatar { background-image: url("../img/phil_renaud.jpg"); }
#james-bowes .avatar { background-image: url("../img/james_bowes.jpg"); }

html {
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-body;
  background: $navyDark;
}

h1, h2, h3, h4 {
  font-family: $font-header;
  font-weight: normal;
}

h2 {
  font-size: 2em;
  letter-spacing: .025em;
  color: #ddd;
  font-family: $font-header;
  font-weight: 200;
}

h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
}

p {
  margin: .5em 0;
  line-height: 1.25;
}

a {
  color: white;
  @include transition(color .5s $ease-out-expo);
}

strong {
  font-weight: 600;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: .75em 2.5em;
  line-height: 1;
  border: 0;
  border-radius: 1.3em;
  font-size: 1.5em;
  font-family: $font-header;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-decoration: none;
  background: fade-out($yellow, .2);
  color: $navyDark;
  cursor: pointer;
  box-shadow: 0 0 250px 30px fade-out($yellow, .7);
  @include transition(background .6s ease, box-shadow 2s ease, color .25s linear);
  &:hover {
    background: transparent;
    color: $yellow;
    box-shadow: 0 0 300px 30px fade-out($yellow, .2);
  }
}

@include keyframes(moveMap) {
  0% { top: 0; }
  50% { top: -150px; }
  100% { top: 0; }
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  box-shadow: 0 0 2px 0 fade-out($navy, .3);
  //Animation
  // @include animation(moveMap 25s ease-in-out infinite);
  iframe {
    opacity: .8;
    z-index: -1;
    background: $navy;
  }
}

header {
  position: relative;
  top: 0;
  width: 100%;
  min-height: $header-min;
  height: $header-height;
  margin-bottom: $page-margin;
  z-index: 100;
  text-align: center;
  overflow: hidden;
  @include media(max-width 640px) {
    height: auto;
    position: relative;
  }
  span.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: fade-out($yellow, .6);
  }
  #logo {
    text-align: center;
    @include vertical-center();
    @include media(max-width 640px) {
      top: auto;
      @include transform(translateY(0));
    }
    h1 {
      display: inline-block;
      padding: 0;
      letter-spacing: .05em;
      font-size: 7em;
      font-weight: 400;
      color: white;
      font-family: $font-header;
      pointer-events: none;
      @include media(max-width 640px) {
        display: none;
      }
    }
    .mark {
      content: "";
      display: inline-block;
      margin-right: 20px;
      width: 113px;
      height: 50px;
      background: url(../img/logo.svg) no-repeat;
      background-size: 100%;
      @include media(max-width 640px) {
        margin: 1em 0 1.5em;
      }
    }
  }

}

$border: fade-out($tan, .85);

.container {
  min-height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background: $navyDark;
  text-align: center;
  @include media(max-width 640px) {
    padding-top: 0;
  }
  p {
    color: fade-out($yellow, .5);
    a {
      color: fade-out($yellow, .2);
      &:hover {
        color: $yellow;
      }
    }
  }
}

section {
  @include outer-container;
  margin: $page-margin auto;
  border: 1px solid $border;
  border-radius: 3px;
  overflow: hidden;
  &.double {
    > div {
      @include span-columns(6);
      @include media(max-width 500px) {
        height: auto;
        @include fill-parent;
      }
      > div {
        @include vertical-center();
        @include media(max-width 500px) {
          top: auto;
          padding: 1em;
          @include transform(translateY(0));
        }
      }
    }
  }
  &#date {
    > div {
      height: 200px;
      @include media(max-width 500px) {
        height: auto;
      }
      p {
        margin: 1em auto;
        max-width: 75%;
      }
      &:first-child {
        background: fade-out($tan, .93);
      }
    }
  }
  &#speakers {
    margin-top: 2em;
    border-color: $border;
    border-radius: 2px;
    text-align: left;
    > div {
      border-right: 1px solid $border;
      @include media(max-width 550px) {
        border-right: 0;
        border-bottom: 1px solid $border;
      }
      @include transition(background 1s $ease-out-expo);
      @include media(max-width 1024px) {
        @include fill-parent;
      }

      &:hover {
        background: fade-out($yellow, .9);
      }
      &:last-child {
        border: 0;
      }
    }
    aside {
      @include span-columns(5);
      @include media(max-width 550px) {
        @include fill-parent;
        text-align: center;
      }
    }
    .avatar {
      $square: 150px;
      display: inline-block;
      height: $square;
      width: $square;
      border-radius: 50%;
      background-size: 100%;
    }
    article {
      @include span-columns(7);
      @include media(max-width 550px) {
        @include fill-parent;
        text-align: center;
        margin-top: $page-margin;
      }
    }
    h1 {
      padding: .75em;
      font-size: 2em;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: .05em;
      color: fade-out(white, .2);
      text-align: center;
      border-bottom: 1px solid $border;
      &:only-child {
        border: 0;
      }
    }
    h2 {
      margin-bottom: 5px;
      font-size: 2.25em;
      color: fade-out($yellow, .2);
      font-weight: 500;
      letter-spacing: 0;
    }
    h5 {
      font-family: $font-header;
      font-size: 1.2em;
      a {
        color: fade-out($tan, .15);
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
    p {
      font-size: .9em;
      line-height: 1.5;
    }
    > div {
      padding: $page-margin;
    }
  }
}

.social {
  display: inline-block;
  margin: 0 auto 4em;
  padding: .25em 1.5em;
  background: fade-out($yellow, 1);
  border: 2px solid fade-out($yellow, .8);
  border-radius: 25px;
  @include transition(background 1s $ease-out-expo);
  &:hover {
    background: fade-out($yellow, .9);
  }
  li {
    display: inline-block;
    margin: .5em .25em;
  }
  a {
    color: fade-out(white, .3);
    text-decoration: none;
    font-size: 23px;
    &:hover {
      color: fade-out($yellow, .2);
    }
  }
}
